*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

nav {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .pricing, nav .support, nav .get-started-button {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav a {
    color: rgba(0, 0, 0, 0.85);
}

header, main, footer {
    padding: 1.1rem;
}

header {
    padding-bottom: 9rem;
    background:rgba(230, 225, 225, 0.4);
    background-image: linear-gradient(100deg, rgb(239, 175, 239), rgba(230, 225, 225, 0.4) 24%);
}

footer {
    background: rgba(230, 225, 225, 0.4);
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

main {
    background: rgba(250, 250, 250, 1);
    padding-bottom: 4rem;
}


main p {
    color: rgba(0, 0, 0, 0.5);    
}

h1 {
    font-size: 3.06rem;
    letter-spacing: 2px;
}

h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 2.7rem;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.6rem;
}

main a {
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    color: rgba(93, 88, 221);
}

p, button, a {
    font-size: 1rem;
    letter-spacing: 0.9px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a, header a {
    text-decoration: none;
    line-height: 1.6rem;
}

.get-started-button {
    border-radius: 6px;
    padding: 1rem 1.3rem;
    background: rgb(93, 88, 221);
    color: rgba(250, 250, 250, 0.6);
    letter-spacing: 1.2px;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    font-weight: lighter;
}

.get-started-button span {
    color: white; 
}

.number-of-indiebrewers {
    color: rgb(93, 88, 221);
    font-weight: bold;
}

.heart {
    font-size: large;
}

/* images */
div img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.main-img-container {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-avatar-container {
    width: fit-content;
}

.user-avatar-icons-container {
    margin-top: 1rem;
    width: 96%;
}

.social-media-icons-container {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.phone-mockup-img-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* footer */

footer h2 {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

footer > p:nth-of-type(2) {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links-container > div {
    display: flex;
    justify-content: space-between;
}

.footer-link-component {
    margin-top: 1.6rem;
    list-style: none;
}

.footer-link-component h3 {
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

li {
    list-style: none;
}

footer li {
    margin-bottom: 0.2rem;
}

footer a, footer p {
    color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
    nav .pricing, nav .support, nav .get-started-button {
        display: block;
    }

    nav .get-started-button {
        margin: 0;
    }

    header > .get-started-button {
        margin-top: 0.5em;
        margin-bottom: 0.5rem;
    }

    .hamburger-menu {
        display: none;
    }

    header, main, footer {
        padding: 3rem;
    }

    header {
        padding-bottom: 8rem;
    }

    nav {
        margin-top: 0;
    }

    nav li {
        padding-right: 1.2rem;
    }

    nav li:last-child {
        padding: 0;
    }

    p, button, a {
        font-size: 1.1rem;
    }

    div.main-img-container {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .user-avatar-icons-container img {
        /* height: 3.2rem; */
    }

    .social-media-icons-container {
        margin-bottom: 0;
    }

    h1 {
        font-size: 3.9rem;
        letter-spacing: 0px;
    }
    
    h2 {
        font-size: 1.9rem;
        letter-spacing: 1px;
        line-height: 2rem;
    }

    main h2 {
        line-height: 2.5rem;
    }

    p {
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 1.6rem;
    }

    header p:last-child {
        padding-top: 0.5rem;
    }

    main .tablet-style-box {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        justify-content: space-between;
    }

    main .tablet-style-box.one {
        flex-direction: row-reverse;
        align-items: center;
    }

    main .tablet-style-box.two {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    main .tablet-style-box > .content {
        width: 60%;
    }

    main .tablet-style-box .phone-mockup-img-container {
        width: 37%;
        margin: 0;
    }
    
    main .tablet-style-box .social-media-icons-container {
        margin-top: 0;
        width: 40%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .footer-content-container p:first-of-type {
        padding-top: 0.5rem;
    }

    footer > div:first-child {
        width: 55%;
    }

    footer > div:last-child {
        width: 40%;
    }

    .footer-links-container > div:first-of-type {
        margin-bottom: 1.6rem;
    }

    .footer-link-component {
        margin-top: 0;
    }

    .footer-link-component li {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    .footer-link-component h3 {
        margin-bottom: 1.1rem;
    }
}

@media only screen and (min-width: 1200px) {
    header .desktop-style-box {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    header .main-img-container {
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .desktop-style-box .content {
        width: 50%;
    }

    header, main, footer {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    
    main {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    main h2 {
        font-size: 2.1rem;
    }

    div.tablet-style-box.two {
        margin-top: 6rem;
        margin-bottom: 0;
    }

    .tablet-style-box.two .content {
        width: 51%;
    }

    main .tablet-style-box .social-media-icons-container {
        width: 32%;
    }

    main .tablet-style-box .phone-mockup-img-container {
        width: 44%;
    }

    .tablet-style-box.one .content {
        width: 52%;
    }

    footer div.footer-content-container {
        width: 34%;
    }

    footer > div:last-child {
        flex-direction: row;
        width: 58%;
        justify-content: space-between;
    }

    .footer-links-container > div {
        width: 50%;
        justify-content: space-around;
    }
}